.section {
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 100%;
  /* padding-top: 40px; */
  /* padding-bottom: 40px; */
  display: flex;
  position: absolute;
  inset: 0%;
}

.image {
  width: 164px;
  margin: auto;
  font-size: 14px;
}

.coming-soon {
  padding-top: 40px;
}

.slogan {
  color: #0059ff;
  text-transform: capitalize;
  word-break: normal;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 13.5px;
}

.slogan.top {
  color: #757575;
  font-family: Varela, sans-serif;
  font-weight: 400;
}

.slogan.bottom {
  color: #757575;
  text-align: center;
}

.text-span {
  color: #000;
  font-family: Vollkorn, serif;
  font-size: 16px;
}

.logo-pack {
  text-align: center;
}

.link {
  color: #0059ff;
  font-family: Varela, sans-serif;
  font-size: 13px;
  text-decoration: none;
}

.link.none {
  color: #757575;
}

.contact-container {
  padding-bottom: 40px;
}

@media screen and (max-width: 479px) {
  .email-container {
    text-align: center;
  }
}
